{% extends "layouts/base.njk" %}
{% block content %}
  <article class="flow">
    <h1>{{ title }}</h1>

    <div class="switcher">
      <h2 class="text-primary">{{ subtitle }}</h2>
      <p>{{ summary }}</p>
    </div>
  </article>
{% endblock %}
