{% set assetHash = "v=1.0.0" %}
{% extends "layouts/base.njk" %}
{% block content %}
  <div class="grid">
    {% for testimonial in testimonials.items %}
      <article
        aria-labelledby="{{ testimonial.authorSlug }}"
        class="testimonial"
        {% if testimonial.authorSlug == "daniel-clifford" or "jonathan-walters" or "patrick-addms" %}
          data-layout-author="{{ testimonial.authorSlug }}"
        {% endif %}
      >
        <div class="testimonial__header">
          <img
            alt=""
            src="images/{{ testimonial.authorSlug }}.jpg?{{ assetHash }}"
            srcset="
              images/{{ testimonial.authorSlug }}.jpg?{{ assetHash }}    1x,
              images/{{ testimonial.authorSlug }}@2x.jpg?{{ assetHash }} 2x
            "
            width="50"
            height="50"
          />

          <div>
            <h2 id="{{ testimonial.authorSlug }}">{{ testimonial.author }}</h2>
            <p class="testimonial__status">{{ testimonial.status }}</p>
          </div>
        </div>
        <p class="testimonial__summary">{{ testimonial.summary }}</p>
        <blockquote>{{ testimonial.quote }}</blockquote>
      </article>
    {% endfor %}
  </div>
{% endblock %}
