{% extends "layouts/base.njk" %}
{% block content %}
  {% for testimonial in testimonials.items %}
    <h2>{{ testimonial.author }}</h2>
    <p>{{ testimonial.status }}</p>
    <p>
      {{ testimonial.summary }}    
    </p>
    <p><q>{{ testimonial.quote }}</q></p>
  {% endfor %}
{% endblock %}
