.testimonial {
  background-color: var(--color-white);
  border-radius: 10px;
  color: var(--color-dark-grayish-blue);
  padding: var(--space-l);
}

.testimonial img {
  border-radius: 50%;
  aspect-ratio: 1;
}

.testimonial__header h2 {
  margin: 0;
  font-size: var(--size-step-0);
}

.testimonial__header p {
  font-size: var(--size-step-1);
  margin: 0;
}

.testimonial__header {
  display: flex;
  flex-direction: row;
  gap: var(--space-s);
}

.testimonial[data-layout='daniel-clifford'] img,
.testimonial[data-layout='patrick-abrams'] img {
  padding: 3px;
  background-color: var(--color-light-violet);
}

.testimonial[data-layout='daniel-clifford'] {
  background: var(--color-moderate-violet) url('../images/bg-pattern-quotation.svg')
    no-repeat top right / 35%;
  border-right: var(--space-m) solid transparent;
  color: var(--color-light-gray);
}

.testimonial[data-layout='jonathan-walters'] {
  background-color: var(--color-dark-grayish-blue);
  color: var(--color-light-gray);
}

.testimonial[data-layout='patrick-abrams'] {
  background-color: var(--color-dark-blackish-blue);
  color: var(--color-light-gray);
}

.testimonial__status,
.testimonial__quote {
  opacity: 0.5;
}

.testimonial__summary {
  font-weight: 600;
  font-size: var(--size-step-3);
}

.testimonial__quote {
  line-height: var(--leading-loose);
}
