.testimonial {
  background-color: var(--color-white);
  border-radius: 10px;
  padding: var(--space-xs-s);
  place-content: center;
}

.testimonial img {
  border-radius: 50%;
  aspect-ratio: 1;
}

.testimonial__header h2 {
  margin: 0;
  font-size: var(--size-step-1);
}

.testimonial__header p {
  font-size: var(--size-step-1);
  margin: 0;
}

.testimonial__header {
  display: flex;
  flex-direction: row;
  gap: var(--space-s);
}

.testimonial__summary {
  font-size: var(--size-step-2);
  line-height: var(--leading-fine);
}



.testimonial blockquote {
  margin-inline:0;
  font-weight: var(--font-bold);
&::before {
  content: '\201C\00A0'; /* Unicode for left double quote */
}

&::after {
 content: '\00A0\201D'; /* Unicode for right double quote */
}
}

.testimonial[data-layout-author='daniel-clifford'] img,
.testimonial[data-layout-author='patrick-abrams'] img {
  padding: 3px;
  background-color: var(--color-light-violet);
}

.testimonial[data-layout-author='daniel-clifford'] {
  background: var(--color-moderate-violet)
    url('../images/bg-pattern-quotation.svg?v=1.0.0') no-repeat;

  /*   background-origin: content-box; */
  background-position-x: calc(100% - var(--space-l-xl));
  color: var(--color-base-dark);
}

.testimonial[data-layout-author='jonathan-walters'] {
  background-color: var(--color-dark-grayish-blue);
  color: var(--color-base-dark);
}

.testimonial[data-layout-author='patrick-abrams'] {
  background-color: var(--color-dark-blackish-blue);
  color: var(--color-base-dark);
}

.testimonial[data-layout-author='daniel-clifford'] {
  grid-area: daniel-clifford;
}

.testimonial[data-layout-author='jonathan-walters'] {
  grid-area: jonathan-walters;
}

.testimonial[data-layout-author='kira-whittle'] {
  grid-area: kira-whittle;
}

.testimonial[data-layout-author='jeanette-harmon'] {
  grid-area: jeanette-harmon;
}

.testimonial[data-layout-author='patrick-abrams'] {
  grid-area: patrick-abrams;
}

/* stylelint-disable */
@media screen(md) {
}
/* stylelint-enable */
.testimonial__status,
.testimonial__quote {
  opacity: 0.9;
}
